.App {
  text-align: center;
  
  &-Main--Rule-list {
    background-color: rgba(128, 104, 104, 0.2)
  }

  &-header {
    background-color: #222;
    height: 9rem;
    padding: 1rem;
    color: white;
  }

  &-title {
    font-size: 1.5em;
  }
}
